<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <script src="../public/script.js"></script>
    <title>Funciona por favor</title>
</head>
<body>
    <center><h1 class="title">Esse é o programa para movimentar o dedo!</h1></center>
    <br>
    <button onclick="adicionar()">Adicionar1</button>
</body>
</html>