<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coup de Main</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="container">
      <h1>Polegar</h1>
      <div class="slidecontainer">
        <input type="range" min="0" max="5" value="0" class="range" id="rangebar1"> 
        <h1 id="value1">0</h1>
      </div>
      <h1>Indicador</h1>
      <div class="slidecontainer">
        <input type="range" min="0" max="5" value="0" class="range" id="rangebar2"> 
        <h1 id="value2">0</h1>
      </div>
      <h1>Médio</h1>
      <div class="slidecontainer">
        <input type="range" min="0" max="5" value="0" class="range" id="rangebar3"> 
        <h1 id="value3">0</h1>
      </div>
      <h1>Anelar</h1>
      <div class="slidecontainer">
        <input type="range" min="0" max="5" value="0" class="range" id="rangebar4"> 
        <h1 id="value4">0</h1>
      </div>
      <h1>Mínimo</h1>
      <div class="slidecontainer">
        <input type="range" min="0" max="5" value="0" class="range" id="rangebar5"> 
        <h1 id="value5">0</h1>
      </div> 
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>

        var socket = io();
        var input1 = document.getElementById('rangebar1');
        var input2 = document.getElementById('rangebar2');
        var input3 = document.getElementById('rangebar3');
        var input4 = document.getElementById('rangebar4');
        var input5 = document.getElementById('rangebar5');

        const slider1 = document.querySelector("#rangebar1")
        const value1 = document.querySelector("#value1")
        value1.textContent = slider1.value
        slider1.oninput = function(){
            value1.textContent = this.value
            if (slider1.value) {
            socket.emit('polegar', input1.value);
        }
        }

        const slider2 = document.querySelector("#rangebar2")
        const value2 = document.querySelector("#value2")
        value2.textContent = slider2.value
        slider2.oninput = function(){
            value2.textContent = this.value
            if (slider2.value) {
            socket.emit('indicador', input2.value);
        }
        }

        const slider3 = document.querySelector("#rangebar3")
        const value3 = document.querySelector("#value3")
        value3.textContent = slider3.value
        slider3.oninput = function(){
            value3.textContent = this.value
            if (slider3.value) {
            socket.emit('medio', input3.value);
        }
        }

        const slider4 = document.querySelector("#rangebar4")
        const value4 = document.querySelector("#value4")
        value4.textContent = slider4.value
        slider4.oninput = function(){
            value4.textContent = this.value
            if (slider4.value) {
            socket.emit('anelar', input4.value);
        }
        }

        const slider5 = document.querySelector("#rangebar5")
        const value5 = document.querySelector("#value5")
        value5.textContent = slider5.value
        slider5.oninput = function(){
            value5.textContent = this.value
            if (slider5.value) {
            socket.emit('minimo', input5.value);
        }
        }
    </script>
  </body>
</html>